body {
    font-family: Arial, sans-serif;
    background-color: #f0e4e40a;
    margin: 0;
    padding: 0;
    background-image: url('doug.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 700px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(240, 15, 15, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3f1cbe;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #10eb23;
}

.button-home {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    background-color: #3f1cbe;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container-tabela {
    width: 80%;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(240, 15, 15, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}